{%extends 'base.html'%}

{%block contents%}
<body>
  {% for myblog in blogs.all %}
    <div class="card mx-auto col-md-10" >
      <div class="card-header">
        제목 : {{myblog.title}}
      </div>
      <div class="card-body">
        <h5 class="card-title"> 날짜 : {{myblog.pub_date}} </h5>
        <p class="card-text">본문 미리보기 : {{myblog.summary}}</p>
        <a href="{%url 'detail' myblog.id%}" class="btn btn-warning">...more</a>
      </div>
    </div>
    <br /><br />
  {% endfor %}
</body>
{%endblock%}

