{%extends 'base.html'%}

{%block contents%}
<body>
  <br />
  <div class="container" > 
  <form method = "POST">
    {% csrf_token %}
    <table class="table table-striped table-dark">
      {{form.as_table}}
    </table> 
    <input type="submit" class="btn btn-warning" value="Submit">
  </form>
</body>
{%endblock%}
<!--
 <div class="card mx-auto col-md-10" > 
    <form action="{% url 'create' %}">
      <div class="form-group">
        <label for="usr">Title: </label>
        <input type="text" class="form-control" name="title">
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" cols="75" rows="15" name="body"></textarea>
      </div> 
      <input type="submit" class="btn btn-warning" value="Submit">
    </form>
  </div>
 -->
 



